fieldset {
    border: none;
}
.wppe-terms-group, .wppe-options-group {
    padding-bottom: 10px;
}
#wppe-terms {
    margin-left: 10px;
}
.wppe-error-box {
    color: red;
    padding-bottom: 15px;
    display: none;
}
#wppe-loading {
    display: none;
}
#wppe-results-wrapper {
    padding-top: 15px;
}